body {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 1.7;
  color: $font;
}

#{headings(all)} {
  font-family: 'Ubuntu'; font-style: normal; font-weight: normal;
}


p {
  //line-height: 1.5em;
}

.timestamp {
  color: $font-light;
}