@import "sassy-buttons";

//#D60202 #E51937 #CA322C
.btn {
  letter-spacing: 0.015em;
  text-transform: capitalize;
  text-decoration: none;
  @include sassy-button-structure(0.3em, 0.875em, 0.3125em 0.75em);
  @include sassy-button-gradient('glass', #D60202);
}

.btn a {
  color: #FFF;
  display: block;
}

.btn-rsvp {
  float: right;
}