@import '../images/social/*.png';
@import '../images/menu/*.png';

.icon {
  width: 28px;
  height: 28px;
  @include hide-text;
}

.icon-facebook {
  @include social-sprite("fb-grey-28");
  
  &:hover {
    @include social-sprite("fb-28");
  }
}

.icon-twitter {
  @include social-sprite("twitter-grey-28");
  
  &:hover {
    @include social-sprite("twitter-28");
  }
}

.icon-gplus {
  @include social-sprite("g-plus-grey-28");
  
  &:hover {
    @include social-sprite("g-plus-28");
  }
}

.icon-contact {
  @include social-sprite("contact-grey-28");
  
  &:hover {
    @include social-sprite("contact-28");
  }
}

.icon-16 {
  width: 16px;
  height: 16px;
}
.icon-wall .icon-16 { @include menu-sprite("wall");}
.icon-wiki .icon-16 { @include menu-sprite("wiki");}
.icon-calendar .icon-16 { @include menu-sprite("calendar");}
.icon-gallery .icon-16 { @include menu-sprite("gallery");}