/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "Basic" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@import "susy";

// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 5px;

$container-style: magic;
$container-width: 1200px;

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$tab: 44em 12; // At 44em use 12 columns.
$desk: 70em 24; // At 70em use 16 columns.
$tab-cols: 12; 
$desk-cols: 24;

.l-header,
.l-main,
.l-postscript,
.l-footer {
  @include container; // Define these elements as the grid containers.
  @include susy-grid-background; // Show the columns for debugging.
  margin-bottom: $vert-spacing-unit;
}


.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second,
.l-region--postscript-first,
.l-region--postscript-second,
.l-region--postscript-third,
.l-region--footertop-first,
.l-region--footertop-second,
.l-region--footertop-third,
.l-region--connections {
  margin-bottom: $vert-spacing-unit;
}

.l-postscript {
  //margin-bottom: $vert-spacing-unit;
}

@include at-breakpoint($tab) { // At a given Susy Media Layout, use a given amount of columns.
  .l-header,
  .l-main,
  .l-postscript,
  .l-footer {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    @include susy-grid-background; // Show the columns for debugging.
  }

  .l-branding {
    @include span-columns(3, 12); // Span 3 out of 12 columns.
  }
  .l-region--header{
    @include span-columns(3 omega, 12); // Span the last (omega) 3 columns of 12.
  }
  .l-region--navigation {
    @include span-columns(6, 12); // Span 6 out of 12 columns.
  }
  .l-region--preface {
    clear: both;
  }
  
  .l-postscript {
    clear: both;
  }
  
  .sidebar-first,
  .sidebar-second,
  .two-sidebars {
    .l-content {
      @include span-columns(8, 12); // Span 8 out of 12 columns.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4 omega, 12); // Span the last (omega) 4 columns of 12.
    }
    .l-region--sidebar-second {
      clear: right;
    }
  }
  
  .three-postscripts {
    .l-region--postscript-first,
    .l-region--postscript-second,
    .l-region--postscript-third {
      @include span-columns($tab-cols/3, $tab-cols);
    }
    
    .l-region--postscript-third {
      @include omega;
      clear: right;
    }
  }
  
  .l-region--connections {
    margin-bottom: 0;
  }
  
  .two-postscripts {
    .l-region--postscript-first,
    .l-region--postscript-second,
    .l-region--postscript-third {
      @include span-columns($tab-cols/2, $tab-cols);
    }
    &.postscript-second-last {
      .l-region--postscript-second {
        @include omega;
      }
    }
    &.postscript-third-last {
      .l-region--postscript-third {
        @include omega;
      }
    }
  }
  
  .three-footertops,
  .footertop-second-third {
    .l-region--footertop-second,
    .l-region--footertop-third {
      @include span-columns($tab-cols/2, $tab-cols);
    }
    .l-region--footertop-third {
      @include omega;
      clear: right;
    }
    .l-connections {
      clear: both;
    }
  }
  
  .connections-footer {
    .l-region--connections {
      @include span-columns($tab-cols/3 omega, $tab-cols);
    }
    .l-region--footer {
      @include span-columns(2*$tab-cols/3, $tab-cols);
    }
  }
  
}

@include at-breakpoint($desk) {
  .l-header,
  .l-main,
  .l-postscript,
  .l-footer {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    @include susy-grid-background; // Show the columns for debugging.
  }

  .l-branding {
    @include span-columns($desk-cols/4, $desk-cols); // Span 6 out of 16 columns.
  }
  .l-region--header{
    @include span-columns($desk-cols/4 omega, $desk-cols); // Span the last (omega) 10 columns of 16.
  }
   .l-region--navigation {
    @include span-columns($desk-cols/2, $desk-cols); // Span 6 out of 12 columns.
  }

  .sidebar-first {
    .l-content {
      @include span-columns(2 * $desk-cols/3 omega, $desk-cols); // Span the last (omega) 12 columns of 16.
    }
    .l-region--sidebar-first {
      @include span-columns($desk-cols/3, $desk-cols); // Span 4 out of 16 columns.
    }
  }
  .sidebar-second {
    .l-content {
      @include span-columns(2 * $desk-cols/3, $desk-cols); // Span 12 out of 16 columns.
    }
    .l-region--sidebar-second {
      @include span-columns($desk-cols/3 omega, $desk-cols); // Span the last (omega) 12 columns of 16.
      clear: none;
    }
  }

  .two-sidebars {
    .l-content {
      @include span-columns($desk-cols/3, $desk-cols); // Span 12 out of 16 columns.
      @include push($desk-cols/3, $desk-cols);  // Push element by adding 4 out of 16 columns of left margin.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns($desk-cols/3, $desk-cols); // Span 4 out of 16 columns.
    }
    .l-region--sidebar-first {
      @include pull(2*$desk-cols/3, $desk-cols); // Pull element by adding 12 out of 16 columns of negative left margin.
    }
    .l-region--sidebar-second {
      @include omega; // This element spans the last (omega) column.
      clear: none;
    }
  }
  
  .three-footertops {
    .l-region--footertop-first {
      @include span-columns($desk-cols/2, $desk-cols);
    }
    .l-region--footertop-second,
    .l-region--footertop-third {
      @include span-columns($desk-cols/4, $desk-cols);
    }
    .l-region--footertop-third {
      @include omega;
    }
  }
  
  .two-footertops{
    .l-region--footertop-first,
    .l-region--footertop-second,
    .l-region--footertop-third {
      @include span-columns($desk-cols/2, $desk-cols);
    }
    
    &.footertop-second-last {
      .l-region--footertop-second {
        @include omega;
        clear: right;
      }
    }
    
    &.footertop-third-last {
      .l-region--footertop-third {
        @include omega;
        clear: right;
      }
    }
  }
}
