@import "base/root";
@import "base/typography";
@import "base/tables";
@import "base/lists";
@import "base/forms";
@import "base/media";
@import "base/menus";

body {
  background-color: #FFF;
  //color: $font;
  //font-weight: normal;
  //font-size: 100%;
}

header {
  color: #FFF;
  a {
    color: #FFF;
    text-decoration: none;
    
    &:hover {
      color: $links;
    }
  }
}

header .block__title {
  display: none;
}

a {
  color: $links;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  color: $hover;
}

nav {
  margin: 0 auto;
}