/* Page */
.l-page {
  position: relative;
}

/* Section header */
div#section-header {
  background-color: #222;
  z-index: 200;
  width: 100%;
  margin-bottom: 20px;
  //position: fixed;
}

@include at-breakpoint($desk) {
  #section-header {
    height: 80px;
  }
  
  .front {
    #section-header {
      position: fixed;
    }
    .l-main {
      padding-top: 100px;
    }
  }
}

/* Section footer */
#section-footer {
  color: #fff;
  background-color: rgb(26, 26, 26);
  width: 100%;
  border-top: 10px solid $links;
  padding-top: 20px;
  
  h2 {
    color: #fff;
  }
}

/* connections */
.l-connections {
  h2 {
    display: none;
  }
}

/* User Message */
.l-user-message {
  text-align: center;
  img {
    //float: left;
    margin-right: 0.625em;
  }
}

@include at-breakpoint($tab) {
  .l-user-message {
    float: right;
    text-align: right;
  }
}

.user-actions {
  display: inline-block;
}

/* Branding */

/*@include at-breakpoint($desk) {
  .l-user-message {
    text-align: right; 
  }
}*/



/* Slideshow */
.l-slideshow {
  text-align: center;
  
  .views-field-body,
  .views-field-view-node {
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
  }
  
  @include at-breakpoint($desk) {
    .views-field-field-intro-image {
      width: 55%;
      float: right;
    }
    
    .views-field-title {
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .views-field-title,
    .views-field-body,
    .views-field-view-node {
      width: 45%;
      float: left;
    }
    .views-field-body,
    .views-field-view-node {
      //margin-top: 20px;
    }
  }
}


/* Latest Wiki Updates Block */
.l-wiki-updates {
  .views-row {
    margin-bottom: 0;
    border-bottom: 1px solid #EEE;
    width: 100%;
    padding:0;
    //height: 55px;
  }
  .views-field-field-image {
    width: 22.7272727%; /* 50px / 220px */
    height: 50px;
    float: left;
    margin-left: 0;
    display: inline-block;
  }
  
  .views-field-title {
    width: 77.2727273%; /* 170px / 220px */
    height: 50px;
    margin: 0;
    padding-left: 1.1764706%;
    //margin-right: 2.2727273%; /*5px / 220px */
    display: inline-block;
    overflow: hidden;
  }
  
  .views-field-last-updated {
   // width: 27.2727273%; /* 60px / 220 px */
    margin-right: 0;
    display: block;
    clear: both;
    text-align: right;
    font-size: 0.75em;
  }
  
  @include at-breakpoint($desk) {
    .views-row {
      height: 55px;
      margin-bottom: 5px;
      
    }
    .views-field-field-image {
      width: 13.7362637%; /* 50px / 364px */
      height: 50px;
      float: left;
      margin-left: 0;
      margin-right: 1.3736264%; /* 5px / 364px */
      display: inline-block;
    }
    
    .views-field-title {
      width: 65.6593407%; /* 239px / 364px */
      height: 50px;
      margin-right: 1.3736264%; /* 5px / 364px */
      display: inline-block;
      overflow: hidden;
      padding-left: 0;
      float: left;
    }
    
    .views-field-last-updated {
      width: 17.8571429%; /* 65px / 364 px */
      height: 50px;
      margin-right: 0;
      display: inline-block;
      clear: right;
      text-align: right;
      //font-size: 0.75em;
    }
  }
}


/* Activity Stream */
.l-activity-stream {
  p {
    width: 0;
    display: none;
  }
  .views-row {
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #EEE;
  }
  .user-picture {
    width: 22.7272727%; /* 50px / 220px */
    float: left;
    margin-left: 0;
    display: inline-block;
  }
  .activity-message {
    width: 77.2727273%; /* 170px / 220px */
    margin: 0;
    padding-left: 1.1764706%;
    //margin-right: 2.2727273%; /*5px / 220px */
    display: inline-block;
  }
  .views-field-timestamp {
    margin-right: 0;
    display: block;
    //clear: both;
    text-align: right;
    font-size: 0.75em;
  }
  
  @include at-breakpoint($desk) {
    .views-row {
      margin-bottom: 5px;
    }
    .user-picture {
      width: 14.0056022%; /* 50px / 357px */
      float: left;
      margin-left: 0;
      margin-right: 1.4005602%; /* 5px / 357px */
      display: inline-block;
    }
    
    .activity-message {
      width: 84.5938375%; /* 302px / 357px */
      margin-right: 0; /* 5px / 357px */
      padding-left: 0;
      float: left;
      display: inline-block;
    }
    
    .views-field-timestamp {
      //width: 100%; /* 65px / 357 px */
      margin-right: 0;
      display: inline-block;
      //clear: right;
      text-align: left;
      padding-left: 15.4061625%; /* 55px / 357px */
    }
  }
}

/* Twitter feeds */
@include at-breakpoint($tab) {
  .l-twitter {
    display: inline-block;
    
    .views-row-odd,
    .views-row-even {
      width: 48%;
      //margin-bottom: 1em;
      float: left;
    }
    
    .views-row-odd {
      margin-right: 4%;
    }
  }
}

.l-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.l-grid > li {
  display: inline-block;
  margin: 0 0.8474576%  0.8474576% 0; /* 10px / 1180px */
  
  /* IE7 hack to mimic inline-block */
  *display: inline;
  *zoom: 1;
}

.l-group-list > li {
  display: block;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.l-group-list {
  .no-content-text {color: #999;}
  .field--name-field-group-photo,
  .group-square-content,
  .field--name-body {
    padding: 10px;
  }
  .field--name-field-group-photo { padding-left: 0;}
  
}

@include at-breakpoint($tab) {
  .l-group-list {
    .field--name-field-group-photo,
    .group-square-content {
      width: 25%;
      display: block;
      float: left;
    }
    .field--name-body {
      width: 50%;
      display: block;
      float: left;
    }
    .group-square-content {
      float: right;
      border-left: 1px solid #ccc;
      //padding: 10px;
    }
    
    
    h3 {margin-top: 0;}
  }
}


.l-event-teaser > li {
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}

.l-event-teaser {
  .field--name-body {
    clear: left;
  }
  
  .field--name-field-venue {
    font-weight: bold;
  }
  
  @include at-breakpoint($tab) {
    .event-field-group-left {
      float: left;
      width: 70%;
      margin-right: 2%;
    }
    
    .event-field-group-right {
      float: right;
      width: 28%;
    }
  }
}