/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "Basic" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\0000333}}
.l-header,
.l-main,
.l-postscript,
.l-footer {
  *zoom: 1;
  max-width: 1190px;
  _width: 1190px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.l-header:after,
.l-main:after,
.l-postscript:after,
.l-footer:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\0000349}}
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second,
.l-region--postscript-first,
.l-region--postscript-second,
.l-region--postscript-third,
.l-region--footertop-first,
.l-region--footertop-second,
.l-region--footertop-third {
  margin-bottom: 20px;
}

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\0000361}}
  .l-header,
  .l-main,
  .l-postscript,
  .l-footer {
    max-width: 1190px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\0000366}}
  .l-branding {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\0000369}}
  .l-region--header {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\0000372}}
  .l-region--navigation {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\0000375}}
  .l-region--preface {
    clear: both;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\0000379}}
  .l-postscript {
    clear: both;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\0000386}}
  .sidebar-first .l-content,
  .sidebar-second .l-content,
  .two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\0000390}}
  .sidebar-first .l-region--sidebar-first,
  .sidebar-first .l-region--sidebar-second,
  .sidebar-second .l-region--sidebar-first,
  .sidebar-second .l-region--sidebar-second,
  .two-sidebars .l-region--sidebar-first,
  .two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\0000393}}
  .sidebar-first .l-region--sidebar-second,
  .sidebar-second .l-region--sidebar-second,
  .two-sidebars .l-region--sidebar-second {
    clear: right;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003101}}
  .three-postscripts .l-region--postscript-first,
  .three-postscripts .l-region--postscript-second,
  .three-postscripts .l-region--postscript-third {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003105}}
  .three-postscripts .l-region--postscript-third {
    float: right;
    margin-right: 0;
    clear: right;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003114}}
  .two-postscripts .l-region--postscript-first,
  .two-postscripts .l-region--postscript-second,
  .two-postscripts .l-region--postscript-third {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003118}}
  .two-postscripts.postscript-second-last .l-region--postscript-second {
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003123}}
  .two-postscripts.postscript-third-last .l-region--postscript-third {
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003132}}
  .three-footertops .l-region--footertop-second,
  .three-footertops .l-region--footertop-third,
  .footertop-second-third .l-region--footertop-second,
  .footertop-second-third .l-region--footertop-third {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003135}}
  .three-footertops .l-region--footertop-third,
  .footertop-second-third .l-region--footertop-third {
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003138}}
  .three-footertops .l-region--footer,
  .footertop-second-third .l-region--footer {
    clear: both;
  }
}
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003149}}
  .l-header,
  .l-main,
  .l-postscript,
  .l-footer {
    max-width: 1190px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003154}}
  .l-branding {
    width: 24.36975%;
    float: left;
    margin-right: 0.84034%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003157}}
  .l-region--header {
    width: 24.36975%;
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003160}}
  .l-region--navigation {
    width: 49.57983%;
    float: left;
    margin-right: 0.84034%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003165}}
  .sidebar-first .l-content {
    width: 66.38655%;
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003168}}
  .sidebar-first .l-region--sidebar-first {
    width: 32.77311%;
    float: left;
    margin-right: 0.84034%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003173}}
  .sidebar-second .l-content {
    width: 66.38655%;
    float: left;
    margin-right: 0.84034%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003176}}
  .sidebar-second .l-region--sidebar-second {
    width: 32.77311%;
    float: right;
    margin-right: 0;
    clear: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003183}}
  .two-sidebars .l-content {
    width: 32.77311%;
    float: left;
    margin-right: 0.84034%;
    margin-left: 33.61345%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003188}}
  .two-sidebars .l-region--sidebar-first,
  .two-sidebars .l-region--sidebar-second {
    width: 32.77311%;
    float: left;
    margin-right: 0.84034%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003191}}
  .two-sidebars .l-region--sidebar-first {
    margin-left: -67.22689%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003194}}
  .two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003201}}
  .three-footertops .l-region--footertop-first {
    width: 49.57983%;
    float: left;
    margin-right: 0.84034%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003205}}
  .three-footertops .l-region--footertop-second,
  .three-footertops .l-region--footertop-third {
    width: 24.36975%;
    float: left;
    margin-right: 0.84034%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003208}}
  .three-footertops .l-region--footertop-third {
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003216}}
  .two-footertops .l-region--footertop-first,
  .two-footertops .l-region--footertop-second,
  .two-footertops .l-region--footertop-third {
    width: 49.57983%;
    float: left;
    margin-right: 0.84034%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003221}}
  .two-footertops.footertop-second-last .l-region--footertop-second {
    float: right;
    margin-right: 0;
    clear: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003228}}
  .two-footertops.footertop-third-last .l-region--footertop-third {
    float: right;
    margin-right: 0;
    clear: right;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sosa\/www\/campuswiki-dev\/web\/sites\/all\/themes\/kefas\/sass\/layouts\/landing\/landing\.layout\.scss}line{font-family:\00003235}}
  .l-region--footer {
    clear: both;
  }
}
